@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["message"]</h1>
</div>

<form asp-action="AddPost" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="Title" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Url</label>
                <input type="text" name="Url" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="Content" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<hr/>
<br />
@{
    var posts = (ViewData["posts"] as List<PostViewModel>);
    for (int i = 0; i < posts.Count; i++)
    {
        <div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-bottom:10px;">
                    <div class="card">
                        <h6 class="card-header" style="background-color:white">Title: @posts[i].Title</h6>
                        <div class="card-body">
                            <p>
                                <a href="@posts[i].Url"> @posts[i].Url </a>
                            </p>
                            <p>@posts[i].Content</p>
                            <p>Created at: @posts[i].CreatedAt</p>
                            @if (@posts[i].ComentCount == 0)
                            {
                                <p> No comments yet. </p>
                            }
                            else
                            {
                                <p> @posts[i].ComentCount comments on this.</p>
                            }
                        </div>
                        <div class="card-footer" style="background-color:white">
                            <button>Add comment</button>
                            <button>Close</button>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class="form-control" rows="7"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="form-control">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}