@{
    ViewData["Title"] = "Post wall";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $(".addComment").click(function () {
            var index = $(this).attr("data-index");
            $("#commentSection-" + index).show();
            $("#addComment-" + index).hide();
            $("#hideComment-" + index).show();
        });

        $(".hideComment").click(function () {
            var index = $(this).attr("data-index");
            $("#commentSection-" + index).hide();
            $("#addComment-" + index).show();
            $("#hideComment-" + index).hide();
        });

        $(".sendComment").click(function () {
            var index = $(this).attr("data-index");
            $("#addCommentForm-" + index).submit();
        });
    });

</script>

<div class="text-center">
    <h1 class="display-4">@ViewData["message"]</h1>
</div>

<form asp-action="AddPost" asp-controller="Home" method="post">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="Title" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Url</label>
                <input type="text" name="Url" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" name="Content" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
<hr />
<br />
@{
    var posts = (ViewData["posts"] as List<PostViewModel>);
    for (int i = 0; i < posts.Count; i++)
    {
        <div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" style="margin-bottom:10px;">
                    <div class="card">
                        <h6 class="card-header" style="background-color:white"><a href="getpost?id=@posts[i].Id"> @posts[i].Title</a></h6>
                        <div class="card-body">
                            <p>
                                <a href="@posts[i].Url"> @posts[i].Url </a>
                            </p>
                            <p>@posts[i].Content</p>
                            <p><small>Created at: @posts[i].CreatedAt</small></p>
                            @if (@posts[i].ComentCount == 0)
                            {
                                <p> No comments yet. </p>
                            }
                            else
                            {
                                <p> @posts[i].ComentCount comments on this.</p>
                            }
                        </div>
                        <div class="card-footer" style="background-color:white">
                                <button class="addComment btn btn-primary" id="addComment-@i" data-index="@i">Add comment</button>
                            <button class="hideComment btn btn-danger" id="hideComment-@i" style="display:none" data-index="@i">Close</button>
                            <div id="commentSection-@i" style="display:none" data-index="@i">
                                <form id="addCommentForm-@i" asp-action="AddComment" data-index="@i" asp-controller="Home" method="post">
                                    <input type="hidden" name="PostId" value="@posts[i].Id" />
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <textarea class="form-control" rows="7" name="Content"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button id="sendComment-@i" data-index="@i" class="form-control btn btn-success sendComment">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}